trigger: none
pool: Agent-Ka-Jhund

steps:
- task: TerraformTask@5
  inputs:
    provider: 'azurerm'
    command: 'init'
    workingDirectory: '$(System.DefaultWorkingDirectory)/terraform'
    backendServiceArm: 'MyNewSVC'
    backendAzureRmStorageAccountName: 'stg131311'
    backendAzureRmContainerName: 'tfstate'
    backendAzureRmKey: 'katty.tfstate'